@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* ### Primary  */
  /* - Soft blue: hsl(215, 51%, 70%)  */
  --sBlue: hsl(215, 51%, 70%);
  /* Cyan: hsl(178, 100%, 50%)  */
  --cyan: hsl(178, 100%, 50%);

  /* ### Neutral */
  /* - Very dark blue (main BG): hsl(217, 54%, 11%) */
  --vdBlue-main: hsl(217, 54%, 11%);
  /* Very dark blue (card BG): hsl(216, 50%, 16%) */
  --vdBlue-card: hsl(216, 50%, 16%);
  /* - Very dark blue (line): hsl(215, 32%, 27%) */
  --vdBlue-line: hsl(215, 32%, 27%);
  /* Pure White: hsl(0, 0%, 100%) */
  --pWhite: hsl(0, 0%, 100%);
}

.name--creator {
  color: var(--pWhite);
}
.name--crypto {
  color: var(--cyan);
}
.name--creator:hover {
  cursor: pointer;
  color: var(--cyan);
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--vdBlue-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background-color: var(--vdBlue-card);
  color: var(--sBlue);
  width: 327px;
  height: 540px;
  padding: 24px;
  border-radius: 1rem;
}
hr {
  background-color: var(--vdBlue-line);
  color: var(--vdBlue-line);
  margin-bottom: 12px;
}

.card {
  position: relative;
  width: 280px;
  height: 280px;
}

.card--img {
  width: 100%;
  border-radius: 0.5rem;
}

.img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: url(./images/icon-view.svg) no-repeat scroll center center
    hsl(178, 100%, 50%, 0.5);

  /* transition on exit */
  opacity: 0;
  transition: opacity 0.5s;
}

.img-overlay:hover {
  display: block;
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}

h1 {
  color: var(--pWhite);
  font-size: 1.2rem;
  margin-bottom: 15px;
}
h1:hover {
  cursor: pointer;
  color: var(--cyan);
}

p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.monetarization {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.subitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card--footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  font-size: 0.8rem;
}

.card--footer > img {
  height: 34px;
}

a {
  text-decoration: none;
}